{% extends 'core/wrapper.html' %}

{% block content %}
    <ul>
        {% for obj in object_list %}
            <li>
                <div class="container-fluid mb-5 mt-5">
                    {{ obj }}
                    <button class="update" onclick="window.location.href='/core/update_{{ submit }}/{{ obj.id }}'">Update {{ submit }}</button>
                    <button class="delete" onclick="window.location.href='/core/delete_{{ submit }}/{{ obj.id }}'">Delete {{ submit }}</button>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
