
.navbar {
    background-color: #2E4600;
}

.back {
    background-color: #486B00;
}

.footer {
    background-color: #7D4427;
}

body {
    color: #FFFFFF;
    background-color: #A2C523;
}

a {
    color: #FFFFFF;
}

.header {
    background-color: #486B00;
}

.header-name {
    margin-bottom: 0px;
    padding: 10px 0px 10px 0px;
}
